@import url('https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Archivo:wght@400;500;600;700&family=Cabin&family=Inter:wght@400;500;600;900&family=Libre+Franklin&family=Montserrat:wght@400;500;700;800&family=Roboto:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: grid;
    grid-template-columns: 20% 80%;
    /* flex-grow: ; */
}

nav{
    background: #FDFCFC;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.03);
    padding: 2rem 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}

/* <----------------------------------------------------> */

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-link{
    display: flex;
    align-items: center;
    gap: 7px;
}
.brand{
    font-size: 24px;
    font-weight: 700;
}
.user{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* <----------------------------------------------------> */
.header{
    margin: 5rem 0;
}
.header-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* margin: 2rem 0; */
}
.header-head{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 21px;
    /* identical to box height, or 75% */
    
    letter-spacing: -0.32px;
}
.header-details{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
    letter-spacing: -0.32px;
}

/* <----------------------------------------------------> */

.infos-div{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.infos{
    display: flex;
    align-items: center;
    width: 308.2px;
    height: 115.31px;
    
    border: 0.913377px solid #F2F3F3;
    border-radius: 4px;
    padding: 2rem;
    gap: 1.7rem;
}
.info-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 67.09px;
    height: 67.09px;
    left: 0px;
    top: 0px;
    
    background: #FBFAFF;
    border-radius: 50%;
}
.info-content{
    display: flex;
    flex-direction: column;
    gap: .51rem;
}
.info-header{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 20.9659px;
    line-height: 23px;
    color: #383C40;
}
.info-detail{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18.8693px;
    line-height: 21px;
    color: #9EA2B1;
}

/* <----------------------------------------------------> */
.sidenav{
    background: #FBFAFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}
.dash{
    color: blue;
    background-color: #fff;
    border-right: 10px solid #6D64FA;
}
.dash h1{
    color: #6D64FA;
}
.side-head{
    font-family: 'Amita';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
}
.sidenav-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}
.sidenav-items{
    display: flex;
    padding: 2rem;
    gap: 1rem;
}
.sidenav-items-text{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    
    
    /* Dead state */
    
    color: #676464;}

    /* <--------------------------------------------------> */
.start-head{

    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 21px;
    /* identical to box height, or 75% */
    
    letter-spacing: -0.32px;
    
    /* Secondary / text-color */
    
    color: #1F1D1D;
    margin: 3rem 0;
}
.activities{
    border: 1px solid #F2F3F3;
    padding: 3rem;
}
.activityDate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.activityDate-head{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 21px;
    /* identical to box height, or 88% */
    
    letter-spacing: -0.32px;
    
    /* Secondary / text-color */
    
    color: #1F1D1D;
}
select{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    background: #FFFFFF;
    outline: none;
    border: 1px solid #E6E6E6;
    width: 111px;
    height: 46px;
    border-radius: 5px;
    
    color: #383C40;
}

.activity-data{
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0;
    z-index: 10;
}

.acitvity-img-div{
    width: 65.09px;
    height: 65.09px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F4F2FC;
}

.activity-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.activity-details p{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    /* identical to box height */
    
    
    color: #9EA2B1;
}

.activity-details h3{
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    /* identical to box height */
    
    
    color: #383C40;
}
.hr{
    position: relative;
}
hr{
    position: absolute;
    width: 75px;
    /* height: 0px; */
    left: -5px;
    top: -17px;
    z-index: -1;
    
    border: 1px solid #D6D6D6;
    transform: rotate(90deg);
}